/*** sectioning elements ***/

body {
background-color: #211107;
}

header {

}

main {

}

footer {

}

nav {

}

section {

}

aside {

}


/**** content styles ***/

h1 {
color: #ffffff;
font-family: 'Archivo Narrow', sans-serif;
text-align: center;
font-size: 40px;
}

h2 {
color: #ffffff;
font-family: 'Cuprum', sans-serif;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {
color: #ffffff;
}

blockquote {

}

ol {

}

ul {

}

li {

}

table {

}

tr {

}

th {

}

td {

}


/*** image styles ***/

img  {

}


/*** link styles ***/

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}
